.home__container {
  display: column;
  align-content: center;
  padding: 200px;
  /* color: rgb(255, 255, 255);
  justify-content: left;
  h1 {
    font-size: 30px;
  } */

  .home-content1 {
    .main_name {
      color: rgb(172, 117, 223);
      font-size: 40px;
    }
    .wd {
      padding: 20px 0 0 0;
      color: rgb(172, 117, 223);
    }
  }

  .home-content2 {
    padding: 50px 0 0 0;
  }
}
