.header__container {
  height: 10vh;
  min-width: 100vw;
  justify-content: space-around;
  align-items: center;
  text-align: center;
  display: inline-block;

  .nav__header {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    margin: 20px 0px 0px 0px;

    img {
      width: 30px;
    }
  }
}

@media (min-width: 700px) {
  #header-container {
    flex-direction: row;
    padding-left: 150px;
    padding-right: 150px;
  }
}
